.camera {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: black;
	display: none;
}

.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}

.center {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}